/node_modules
/public/hot
/public/phpmyadmin*
/public/storage
/storage/*.key
/vendor
/scripts/deploy.sh
.env
.idea/
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
OLD
php
.vscode/
settings.json
.DS_Store
